@media screen and (min-width:786px) {
    .logomob {
        display: none;
    }
}

@media screen and (max-width:786px) {
    .logoweb {
        display: none;
    }
    .logomob {
        width:100%;
        height:50px;
        margin-bottom: 4px!important;
    }
}